.category {
    display: flex;
    justify-content: space-between;
    padding: 1em;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.arrowHealth, .arrowSports {
    transform: rotate(90deg);
}

.arrowRotateHealth, .arrowRotateSports {
    transform: rotate(0);
}